<div class="container">
  <div class="row">
    <div class="flexbox">
      <div class="header">Popular</div>
    </div>
    <div class="cards">
      <% @actors.each do |a| %>
        <%= link_to actor_path(a), class: "text-decoration-none text-dark" do %>
          <div class="card-trip">
            <div class="image-container">
              <%= image_tag a.profile_path ? "https://image.tmdb.org/t/p/w500#{a.profile_path}" : "default_pfp.jpg" %>
            </div>
            <h2 class="text-truncate card-title"><%= a.name %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
